.main-div{
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.text-style{
    font-family: arial, sans-serif;
}
.text-position{
    text-align: center
}
.input-position{
    width: 80%;
    margin-left: 5%;
}
.span-position{
    margin-left: 5%;
}